body {
    background-color: #000000;
    color: #8d858c79;
    display: block flow;
    justify-content: flex-end;
    align-items: center;
}

div.container4 {
    height: 10em;
    position: relative
}

div.container4 p {
    margin: 0;
    background: rgb(0, 0, 0);
    position: absolute;
    font-size: medium;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}